* {
  font-family: Helvetica, sans-serif, Arial;
}

body {
  background:#222222;
}

input[type="text"], input[type="password"], input[type="email"]{ 
  border: none;
  border-bottom: 1px solid #C4C8CF;
}

.back {
  margin: 19px 275px  ;
  width: 800px;
  height: 600px;
  background:  url(gr.jpg) ;
  position: absolute;
}

.form {
  position: absolute;
  padding: 20px;
  background-color: #FFFFFF;
  width: 430px;
  height: 390px;
  border-radius: 24px;
  /*margin-left: 45px;
  margin-top: -100px;*/
  /*position: fixed;*/
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.login {
  width: 370px;
  font-size: 15px;
  padding: 12px 0;
  border-bottom: 1px solid #9DA7B4;
  border-top: none;
  border-left: none;
  border-right: none;
  background: url('imgs/glyphicons-halflings.png') no-repeat -169px -1px;
  /*width: 12px;
  height: 13px;*/
}

.mail {
  width: 370px;
  font-size: 15px;
  padding: 12px 0;
}

.password {
  width: 170px;
  font-size: 15px;
  padding: 12px 0;
}

.pas {
  margin-right: 30px;
}

.button {
  display: block;
  border: none;
  text-decoration: none;
  font-size: 14px;
  padding: 12px 0;
  width: 370px;
  border-radius: 2px;
  color: white;
}

.submit {
  background: #9DA7B4;  
  margin-bottom: 30px;
}

.dropbox {
  margin-top: 30px;
  background: #5A95E6; 
}
