 @font-face {
  font-family: 'FontAwesome';
  src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/fonts/fontawesome-webfont.eot?v=4.4.0');
  src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: Helvetica, sans-serif, Arial;
}

body {
  background:#222222;
  margin: 0;
  padding: 0;
  background: url("gr.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*input[type="text"],*/
input[type="password"],
input[type="email"]{ 
  border: none;
  border-bottom: 1px solid #C4C8CF;
}

.form {
  position: absolute;
  padding: 20px;
  background-color: #FFFFFF;
  width: 430px;
  height: 390px;
  border-radius: 24px;
  /*margin-left: 45px;
  margin-top: -100px;*/
  /*position: fixed;*/
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.login {
  width: 314px;
  font-size: 15px;
  padding: 12px 10px;
  margin-left: 30px;
  border: none;
  background: url('imgs/glyphicons-halflings.png') no-repeat -169px -1px;
}

.plogin {
  margin-left: 30px;
  border-bottom: 1px solid #C4C8CF;
  width: 370px;
}


/*.plogin:before {
  display: inline;
  position: absolute;
  margin: 11px 23px;
  content: "\f007";
  color: #9DA7B4;
  padding: 8px;
  border-bottom: 1px solid #C4C8CF;
  font-family: FontAwesome;
 }*/
 
.user {
  position: absolute;
  color: #C4C8CF;
  font-size: 15px;
  padding: 14px;
  width: 13px;
  left: 49px; 
}

.mail {
  width: 370px;
  font-size: 15px;
  padding: 12px 0; 
}

.password {
  width: 170px;
  font-size: 15px;
  padding: 12px 0;
}

.pas {
  margin-right: 30px;
}

.button {
  display: block;
  border: none;
  text-decoration: none;
  font-size: 14px;
  padding: 12px 0;
  width: 370px;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}

.submit {
  text-transform: uppercase;
  background: #9DA7B4;  
  margin-bottom: 30px;
}

.submit:hover {
  background: #A9B4C3;
}

.submit:active {
  background: #8A939E;
}

.hr {
  border: none;
  border-bottom: 1px solid #C4C8CF;
  background-color: white;
  height: 11px;
}

hr:before {
  content: "or";
  top: 0;
  margin: 0 170px;
  font-size: 15px;
  border: 1px solid #9DA7B4;
  border-radius: 15px;
  padding: 4px 8px;
  background: white;
}

.dropbox {
  margin-top: 30px;
  background: #5A95E6; 
  position: relative;
  text-transform: uppercase;
}

.dropbox:hover {
  background: #70A7F4;
}

.dropbox:active {
  background: #3670C2;
}

.dropbox:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: "\f16b";
  background: #5186CF;
  width: 43px;
  padding: 12px 0;
  border-radius: 2px 0 0 2px;
  font-family: FontAwesome;
}

.dropbox:hover:before {
  background: #689BE2;
}

.dropbox:active:before {
  background: #3465AA;
}

