.topheader {
  color: #FF0000;
  border: 1px solid #FF4949;
  text-align: center;
  width: 50%;
}
.blackbutton {
  color: #FFFFFF;
  text-decoration: none;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  padding: 3px 27px;
  background-color: black;
  font: caption;
  background: linear-gradient(to top, #303030 , #6A6A6A 97% , #CBCBCB 99%);
}
.blackbutton:hover {
  /*color: #F4A460;
  text-decoration: underline;*/
  background-color: #353535;
  border: 1px solid #353535;
  background: linear-gradient(to top, #353535 , #7A7A7A 97% , #DBDBDB 99%);
